---
id: project1
src: /img/ppe1.png
alt: website
title: 'Website : Loan Request'
resume: First HND project
layout: project
---

As part of the implementation of a new offer of bank loans for startups, the bank S. wishes to put online a solution in the form of a website allowing to propose and manage the requests of innovative companies with a personalised administration of bank loan requests for sales representatives and agency managers. This website use PHP.
